
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/Content/css/FormTarea.css" rel="stylesheet" />
<link href="~/Content/css/BotonLogin.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<center>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="form_main">
                    <h4 class="heading" style="font-size:x-large"><strong> Escribe una Tarea Nueva </strong><span> </span></h4>
                    <hr />
                    <br />
                    <!------ Implementa Card---------->
                    <div class="card">
                        <div class="row">

                            <!------ Formulario con Razor ---------->

                            @using (Html.BeginForm("Form", "Tarea", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
                            {
                                <!------ Titulo Tarea---------->
                                <div class="row">
                                    <div class="col">
                                        <label for="exampleFormControlTextarea1"> Titulo: </label>
                                        <input type="text" class="form-control" placeholder="Titulo">
                                    </div>
                                    <br />
                                    <!------ Descripcion---------->
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"> Detalles de la Tarea :</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <br />
                                    <!------ Fecha Inicio---------->
                                    <div class="row">
                                        <div class="col">
                                            <p>Fecha Inicio: <input type="text" id="datepicker"></p>
                                        </div>
                                    </div>
                                    <br />
                                    <!------ Fecha Caducidad---------->
                                    <div class="row">
                                        <div class="col">
                                            <p>Fecha Caducidad: <input type="text" id="datepicker"></p>
                                        </div>
                                    </div>
                                    <br />
                                    <!------ Status Tarea---------->
                                    <div class="row">
                                        <div class="col">
                                            <label for="inputState">State</label>
                                            <select id="inputState" class="form-control">
                                                <option selected>Elige una opcion...</option>
                                                <option> Pendiente </option>
                                                <option> Completado </option>
                                                <option> NO Completado </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-success" value="@ViewBag.Accion"></input>
                                    <br />
                                    @Html.ActionLink(" Regresar", "GetAll", "Tarea", new { area = "" }, new { @class = "btn btn-danger bi bi-backspace" })
                                </div>
                            }
                        </div>
                            <br />
                    </div>                    
                </div>
                    <!------ Card END---------->
                
            </div>
        </div>
    </div>
</center>

<style>
    body {
        background: center;
        background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823);
    }

    .card {
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    }
</style>

<script type="text/javascript">

    $('#datepicker1').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker1').datepicker("setDate", new Date());



</script>