﻿@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/css/Index.css" rel="stylesheet" />

<main>
    <body>
        <div class="container">
            <div class="row">
                <center>
                    <div class="button" onclick="document.body.classList.add('active')">
                        <span class="button-text">¡ Da Click Aqui !</span>
                        <div class="button-backgrounds">
                            <div class="button-circle button-circle1"></div>
                            <div class="button-circle button-circle2"></div>
                            <div class="button-circle button-circle3"></div>
                            <div class="button-circle button-circle4"></div>
                        </div>
                    </div>
                </center>
                <center>
                    <div class="popup">
                        <div class="popup-inside">
                            <div class="backgrounds">
                                <div class="background"></div>
                                <div class="background background2"></div>
                                <div class="background background3"></div>
                                <div class="background background4"></div>
                                <div class="background background5"></div>
                                <div class="background background6"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-wrapper">
                                <h1 style="font-family:'Times New Roman', Times, serif; font-size:x-large; color:black">! Hey !</h1>
                                <p style="font-family: 'Times New Roman', Times, serif; font-size: xx-large; color: black"> ¡ BIENVENIDO ! </p>
                                <p class="try-again" onclick="document.body.classList.remove('active')" style="color: black"> ¿Listo/a para tener un mejor control sobre tus Actividades?</p>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </body>
</main>
